:root {
    --bg: #083b4c;
    --box-3: #0cd6a1;
    --box-5: #ffd166;
    --box-5-3: #f0466f;
    --box-empty: #1389b2;
}

body {
    background-color: var(--bg);
}

.title.box {
    width: 100%;
}

.title-box span {
    font-size: 5rem;
    color: white;
    text-align: center;
    padding-top: 2rem;
    text-shadow: 19px 60px 80px rgba(0, 0, 0, 0.29);
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

.box {
    width: 130px;
    height: 130px;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 19px 60px 80px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.box-contain {
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box-3 {
    background-color: var(--box-3);
}

.box-5 {
    background-color: var(--box-5);
}

.box-5-3 {
    background-color: var(--box-5-3);
}

.box-empty {
    background-color: var(--box-empty);
}

.box:hover {
    transform: scale(98%);
}


.title-box {
    animation: title-animation 1s;
    animation-timing-function: cubic-bezier(0.1, 0, 0.2, 0);
}

@keyframes title-animation {

    0% {
        gap: 3rem;
    }

    10% {
        gap: 3rem;
    }

    20% {
        gap: 2rem;
    }

    40% {
        gap: 1rem;
    }

    60% {
        gap: 0rem;
    }

    80% {
        gap: 0.3rem;
    }

    90% {
        gap: 0rem;
    }

}